sudo: required

services:
- docker

language: java
dist: trusty

jdk:
- openjdk8

cache:
directories:
- $HOME/.m2

script:
- mvn clean package -U
- docker build -t oblacki/customers:oblacek .

after_success:
- docker login -u="$OBLACKI_USER" -p="$OBLACKI_PASS"
- docker push oblacki/customers:oblacek